.btn {
    margin-bottom: 50px;
}

.modal {
    border: 3px solid black;
    padding: 20px;
    /* visibility: hidden;
    opacity: 0; */
    scale: 0;
    transition: 0.5s ease;
}

.active {
    /* visibility: visible;
    opacity: 1; */
    scale: 1;
}